################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AxionApi/AxionApi/AxionApi/.vs/AxionApi/DesignTimeBuild/.dtbcache.v2
/AxionApi/AxionApi/AxionApi/.vs/AxionApi/FileContentIndex/15a8559c-f195-4b97-ab98-f23be1396675.vsidx
/AxionApi/AxionApi/AxionApi/.vs/AxionApi/FileContentIndex/21f86d36-4c05-4df6-9e65-120ef98275ce.vsidx
/AxionApi/AxionApi/AxionApi/.vs/AxionApi/FileContentIndex/745afbdf-4566-47c9-8435-812ef20f9388.vsidx
/AxionApi/AxionApi/AxionApi/.vs/AxionApi/FileContentIndex/7bac97ee-3259-416d-a18f-30708f67ed81.vsidx
/AxionApi/AxionApi/AxionApi/.vs/AxionApi/FileContentIndex/e55adbea-6ee8-4e92-9ef4-c16faa601dc1.vsidx
/AxionApi/AxionApi/AxionApi/.vs/AxionApi/v17/.suo
/AxionApi/AxionApi/AxionApi/.vs/AxionApi/v17/DocumentLayout.json
/AxionApi/AxionApi/AxionApi/Api/bin/Debug/net8.0/Api.deps.json
/AxionApi/AxionApi/AxionApi/Api/bin/Debug/net8.0/Api.dll
/AxionApi/AxionApi/AxionApi/Api/bin/Debug/net8.0/Api.exe
/AxionApi/AxionApi/AxionApi/Api/bin/Debug/net8.0/Api.pdb
/AxionApi/AxionApi/AxionApi/Api/bin/Debug/net8.0/Api.runtimeconfig.json
/AxionApi/AxionApi/AxionApi/Api/bin/Debug/net8.0/appsettings.Development.json
/AxionApi/AxionApi/AxionApi/Api/bin/Debug/net8.0/appsettings.json
/AxionApi/AxionApi/AxionApi/Api/bin/Debug/net8.0/Ardalis.GuardClauses.dll
/AxionApi/AxionApi/AxionApi/Api/bin/Debug/net8.0/Core.dll
/AxionApi/AxionApi/AxionApi/Api/bin/Debug/net8.0/Core.pdb
/AxionApi/AxionApi/AxionApi/Api/bin/Debug/net8.0/Domain.dll
/AxionApi/AxionApi/AxionApi/Api/bin/Debug/net8.0/Domain.pdb
/AxionApi/AxionApi/AxionApi/Api/bin/Debug/net8.0/FluentResults.dll
/AxionApi/AxionApi/AxionApi/Api/bin/Debug/net8.0/Infrastructure.dll
/AxionApi/AxionApi/AxionApi/Api/bin/Debug/net8.0/Infrastructure.pdb
/AxionApi/AxionApi/AxionApi/Api/bin/Debug/net8.0/Mapster.Core.dll
/AxionApi/AxionApi/AxionApi/Api/bin/Debug/net8.0/Mapster.dll
/AxionApi/AxionApi/AxionApi/Api/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/AxionApi/AxionApi/AxionApi/Api/bin/Debug/net8.0/Microsoft.AspNetCore.OpenApi.dll
/AxionApi/AxionApi/AxionApi/Api/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/AxionApi/AxionApi/AxionApi/Api/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
/AxionApi/AxionApi/AxionApi/Api/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.InMemory.dll
/AxionApi/AxionApi/AxionApi/Api/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/AxionApi/AxionApi/AxionApi/Api/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
/AxionApi/AxionApi/AxionApi/Api/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
/AxionApi/AxionApi/AxionApi/Api/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/AxionApi/AxionApi/AxionApi/Api/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/AxionApi/AxionApi/AxionApi/Api/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/AxionApi/AxionApi/AxionApi/Api/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/AxionApi/AxionApi/AxionApi/Api/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/AxionApi/AxionApi/AxionApi/Api/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/AxionApi/AxionApi/AxionApi/Api/bin/Debug/net8.0/Microsoft.OpenApi.dll
/AxionApi/AxionApi/AxionApi/Api/bin/Debug/net8.0/SmallApiToolkit.Core.dll
/AxionApi/AxionApi/AxionApi/Api/bin/Debug/net8.0/SmallApiToolkit.dll
/AxionApi/AxionApi/AxionApi/Api/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/AxionApi/AxionApi/AxionApi/Api/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/AxionApi/AxionApi/AxionApi/Api/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/AxionApi/AxionApi/AxionApi/Api/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/AxionApi/AxionApi/AxionApi/Api/bin/Debug/net8.0/Validot.dll
*.dll
/AxionApi/AxionApi/AxionApi/Api/obj/Debug/net8.0/staticwebassets/msbuild.build.Api.props
/AxionApi/AxionApi/AxionApi/Api/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.Api.props
/AxionApi/AxionApi/AxionApi/Api/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.Api.props
/AxionApi/AxionApi/AxionApi/Api/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/AxionApi/AxionApi/AxionApi/Api/obj/Debug/net8.0/Api.AssemblyInfo.cs
/AxionApi/AxionApi/AxionApi/Api/obj/Debug/net8.0/Api.AssemblyInfoInputs.cache
/AxionApi/AxionApi/AxionApi/Api/obj/Debug/net8.0/Api.assets.cache
/AxionApi/AxionApi/AxionApi/Api/obj/Debug/net8.0/Api.csproj.AssemblyReference.cache
/AxionApi/AxionApi/AxionApi/Api/obj/Debug/net8.0/Api.csproj.BuildWithSkipAnalyzers
/AxionApi/AxionApi/AxionApi/Api/obj/Debug/net8.0/Api.csproj.CoreCompileInputs.cache
/AxionApi/AxionApi/AxionApi/Api/obj/Debug/net8.0/Api.csproj.FileListAbsolute.txt
/AxionApi/AxionApi/AxionApi/Api/obj/Debug/net8.0/Api.csproj.Up2Date
/AxionApi/AxionApi/AxionApi/Api/obj/Debug/net8.0/Api.GeneratedMSBuildEditorConfig.editorconfig
/AxionApi/AxionApi/AxionApi/Api/obj/Debug/net8.0/Api.genruntimeconfig.cache
/AxionApi/AxionApi/AxionApi/Api/obj/Debug/net8.0/Api.GlobalUsings.g.cs
/AxionApi/AxionApi/AxionApi/Api/obj/Debug/net8.0/Api.MvcApplicationPartsAssemblyInfo.cache
/AxionApi/AxionApi/AxionApi/Api/obj/Debug/net8.0/Api.MvcApplicationPartsAssemblyInfo.cs
/AxionApi/AxionApi/AxionApi/Api/obj/Debug/net8.0/Api.pdb
/AxionApi/AxionApi/AxionApi/Api/obj/Debug/net8.0/Api.sourcelink.json
/AxionApi/AxionApi/AxionApi/Api/obj/Debug/net8.0/apphost.exe
/AxionApi/AxionApi/AxionApi/Api/obj/Debug/net8.0/staticwebassets.build.json
/AxionApi/AxionApi/AxionApi/Api/obj/Api.csproj.nuget.dgspec.json
/AxionApi/AxionApi/AxionApi/Api/obj/Api.csproj.nuget.g.props
/AxionApi/AxionApi/AxionApi/Api/obj/Api.csproj.nuget.g.targets
/AxionApi/AxionApi/AxionApi/Api/obj/project.assets.json
/AxionApi/AxionApi/AxionApi/Api/obj/project.nuget.cache
/AxionApi/AxionApi/AxionApi/AxionApi/obj/Debug/net8.0/AxionApi.AssemblyInfo.cs
/AxionApi/AxionApi/AxionApi/AxionApi/obj/Debug/net8.0/AxionApi.AssemblyInfoInputs.cache
/AxionApi/AxionApi/AxionApi/AxionApi/obj/Debug/net8.0/AxionApi.assets.cache
/AxionApi/AxionApi/AxionApi/AxionApi/obj/Debug/net8.0/AxionApi.csproj.AssemblyReference.cache
/AxionApi/AxionApi/AxionApi/AxionApi/obj/Debug/net8.0/AxionApi.csproj.CoreCompileInputs.cache
/AxionApi/AxionApi/AxionApi/AxionApi/obj/Debug/net8.0/AxionApi.csproj.FileListAbsolute.txt
/AxionApi/AxionApi/AxionApi/AxionApi/obj/Debug/net8.0/AxionApi.GeneratedMSBuildEditorConfig.editorconfig
/AxionApi/AxionApi/AxionApi/AxionApi/obj/Debug/net8.0/AxionApi.MvcApplicationPartsAssemblyInfo.cs
/AxionApi/AxionApi/AxionApi/AxionApi/obj/Debug/net8.0/AxionApi.sourcelink.json
/AxionApi/AxionApi/AxionApi/AxionApi/obj/AxionApi.csproj.nuget.dgspec.json
/AxionApi/AxionApi/AxionApi/AxionApi/obj/AxionApi.csproj.nuget.g.props
/AxionApi/AxionApi/AxionApi/AxionApi/obj/AxionApi.csproj.nuget.g.targets
/AxionApi/AxionApi/AxionApi/AxionApi/obj/project.assets.json
/AxionApi/AxionApi/AxionApi/AxionApi/obj/project.nuget.cache
/AxionApi/AxionApi/AxionApi/Core/bin/Debug/net8.0/Core.deps.json
/AxionApi/AxionApi/AxionApi/Core/bin/Debug/net8.0/Core.pdb
/AxionApi/AxionApi/AxionApi/Core/bin/Debug/net8.0/Domain.pdb
/AxionApi/AxionApi/AxionApi/Core/obj/Debug/net8.0/ref/Core.dll
/AxionApi/AxionApi/AxionApi/Core/obj/Debug/net8.0/refint/Core.dll
/AxionApi/AxionApi/AxionApi/Core/obj/Debug/net8.0/Core.AssemblyInfo.cs
/AxionApi/AxionApi/AxionApi/Core/obj/Debug/net8.0/Core.AssemblyInfoInputs.cache
/AxionApi/AxionApi/AxionApi/Core/obj/Debug/net8.0/Core.assets.cache
/AxionApi/AxionApi/AxionApi/Core/obj/Debug/net8.0/Core.csproj.AssemblyReference.cache
/AxionApi/AxionApi/AxionApi/Core/obj/Debug/net8.0/Core.csproj.BuildWithSkipAnalyzers
/AxionApi/AxionApi/AxionApi/Core/obj/Debug/net8.0/Core.csproj.CoreCompileInputs.cache
/AxionApi/AxionApi/AxionApi/Core/obj/Debug/net8.0/Core.csproj.FileListAbsolute.txt
/AxionApi/AxionApi/AxionApi/Core/obj/Debug/net8.0/Core.csproj.GenerateResource.cache
/AxionApi/AxionApi/AxionApi/Core/obj/Debug/net8.0/Core.GeneratedMSBuildEditorConfig.editorconfig
/AxionApi/AxionApi/AxionApi/Core/obj/Debug/net8.0/Core.pdb
/AxionApi/AxionApi/AxionApi/Core/obj/Debug/net8.0/Core.Resources.ErrorMessages.resources
/AxionApi/AxionApi/AxionApi/Core/obj/Debug/net8.0/Core.sourcelink.json
/AxionApi/AxionApi/AxionApi/Domain/bin/Debug/net8.0/Domain.dll
/AxionApi/AxionApi/AxionApi/Domain/bin/Debug/net8.0/Domain.pdb
/AxionApi/AxionApi/AxionApi/Domain/obj/Debug/net8.0/ref/Domain.dll
/AxionApi/AxionApi/AxionApi/Domain/obj/Debug/net8.0/refint/Domain.dll
/AxionApi/AxionApi/AxionApi/Domain/obj/Debug/net8.0/Domain.AssemblyInfo.cs
/AxionApi/AxionApi/AxionApi/Domain/obj/Debug/net8.0/Domain.AssemblyInfoInputs.cache
/AxionApi/AxionApi/AxionApi/Domain/obj/Debug/net8.0/Domain.assets.cache
/AxionApi/AxionApi/AxionApi/Domain/obj/Debug/net8.0/Domain.csproj.BuildWithSkipAnalyzers
/AxionApi/AxionApi/AxionApi/Domain/obj/Debug/net8.0/Domain.csproj.CoreCompileInputs.cache
/AxionApi/AxionApi/AxionApi/Domain/obj/Debug/net8.0/Domain.csproj.FileListAbsolute.txt
/AxionApi/AxionApi/AxionApi/Domain/obj/Debug/net8.0/Domain.GeneratedMSBuildEditorConfig.editorconfig
/AxionApi/AxionApi/AxionApi/Domain/obj/Debug/net8.0/Domain.pdb
/AxionApi/AxionApi/AxionApi/Domain/obj/Debug/net8.0/Domain.sourcelink.json
/AxionApi/AxionApi/AxionApi/Domain/obj/Domain.csproj.nuget.dgspec.json
/AxionApi/AxionApi/AxionApi/Domain/obj/Domain.csproj.nuget.g.props
/AxionApi/AxionApi/AxionApi/Domain/obj/project.assets.json
/AxionApi/AxionApi/AxionApi/Domain/obj/project.nuget.cache
/AxionApi/AxionApi/AxionApi/Infrastructure/bin/Debug/net8.0/Core.pdb
/AxionApi/AxionApi/AxionApi/Infrastructure/bin/Debug/net8.0/Domain.pdb
/AxionApi/AxionApi/AxionApi/Infrastructure/bin/Debug/net8.0/Infrastructure.deps.json
/AxionApi/AxionApi/AxionApi/Infrastructure/bin/Debug/net8.0/Infrastructure.pdb
/AxionApi/AxionApi/AxionApi/Infrastructure/obj/Debug/net8.0/Infrastr.15EFFBFE.Up2Date
/AxionApi/AxionApi/AxionApi/Infrastructure/obj/Debug/net8.0/Infrastructure.AssemblyInfo.cs
/AxionApi/AxionApi/AxionApi/Infrastructure/obj/Debug/net8.0/Infrastructure.AssemblyInfoInputs.cache
/AxionApi/AxionApi/AxionApi/Infrastructure/obj/Debug/net8.0/Infrastructure.assets.cache
/AxionApi/AxionApi/AxionApi/Infrastructure/obj/Debug/net8.0/Infrastructure.csproj.AssemblyReference.cache
/AxionApi/AxionApi/AxionApi/Infrastructure/obj/Debug/net8.0/Infrastructure.csproj.BuildWithSkipAnalyzers
/AxionApi/AxionApi/AxionApi/Infrastructure/obj/Debug/net8.0/Infrastructure.csproj.CoreCompileInputs.cache
/AxionApi/AxionApi/AxionApi/Infrastructure/obj/Debug/net8.0/Infrastructure.csproj.FileListAbsolute.txt
/AxionApi/AxionApi/AxionApi/Infrastructure/obj/Debug/net8.0/Infrastructure.csproj.GenerateResource.cache
/AxionApi/AxionApi/AxionApi/Infrastructure/obj/Debug/net8.0/Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/AxionApi/AxionApi/AxionApi/Infrastructure/obj/Debug/net8.0/Infrastructure.pdb
/AxionApi/AxionApi/AxionApi/Infrastructure/obj/Debug/net8.0/Infrastructure.Resources.DatabaseErrorMessages.resources
/AxionApi/AxionApi/AxionApi/Infrastructure/obj/Debug/net8.0/Infrastructure.sourcelink.json
/AxionApi/AxionApi/AxionApi/Infrastructure/obj/Infrastructure.csproj.nuget.dgspec.json
/AxionApi/AxionApi/AxionApi/Infrastructure/obj/Infrastructure.csproj.nuget.g.props
/AxionApi/AxionApi/AxionApi/Infrastructure/obj/Infrastructure.csproj.nuget.g.targets
/AxionApi/AxionApi/AxionApi/Infrastructure/obj/project.assets.json
/AxionApi/AxionApi/AxionApi/Infrastructure/obj/project.nuget.cache
/AxionApi/AxionApi/AxionApi/Core/obj/Core.csproj.nuget.dgspec.json
/AxionApi/AxionApi/AxionApi/Core/obj/Core.csproj.nuget.g.props
/AxionApi/AxionApi/AxionApi/Core/obj/project.assets.json
/AxionApi/AxionApi/AxionApi/Core/obj/project.nuget.cache
/AxionApi/AxionApi/AxionApi/.vs/AxionApi/FileContentIndex/2270c2bb-8454-402f-9710-8d5f56e34181.vsidx
/AxionApi/AxionApi/AxionApi/.vs/AxionApi/FileContentIndex/7677c5f3-cf0f-4bdb-878f-c4dbcdfb7867.vsidx
/AxionApi/AxionApi/AxionApi/.vs/AxionApi/FileContentIndex/79d42f12-1003-441e-a88c-9516e3092c58.vsidx
